*{
    box-sizing: border-box;
    background-color: rgb(255, 246, 235);
}

header {
    display: b;
    align-items: center;
    text-align: center;
    padding: 20px;
    color: rgb(159, 40, 40)
   
}
section {
    flex: 1;
}
main{
    display: flex;
    gap: 2rem;
    padding: 40px;

}

h1 {
    font-family: "Ballet", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 60px;
    
  } 

h1{
    text-align: center;
    color: rgb(159, 40, 40);
    
}
h2{
    text-align: center;
    color: rgb(159, 40, 40);
    font-family: "Bodoni Moda", serif;
    font-optical-sizing: auto;
    font-style: normal;
}
span{
    text-align: center;
}
#Vancouver{
    border: 1px solid rgb(159, 40, 40);
    padding: 20px;
    color: rgb(159, 40, 40)
}
#SouthKorea {
    border: 1px solid rgb(159, 40, 40);
    padding: 20px;
    color: rgb(159, 40, 40)

}
#Philippines{
    border: 1px solid rgb(159, 40, 40);
    padding: 20px;
    color: rgb(159, 40, 40)
}
footer{
    color: rgb(159, 40, 40);
}